<p>multiplication works!</p>



<div class="content">
  <article aria-label="article" >
    <ul aria-label="list">
      <p>Table of multiplication:</p>
      @for (i of d; track $index) {
        <li>
          @for (item of d; track $index) {
            {{item * i}}<br>
          }
        </li>
      }
    </ul>
  </article>

  <div class="buttons">
    <input type="text" aria-label="input" placeholder="input" #input>
    <button aria-label="add" (click)="add(1)">+</button>
    <button aria-label="sub" (click)="add(-1)">-</button>
    {{size}}
  </div>



<div>
  <label for="select operation" aria-label="select operation" aria-labelledby="select operation">select operation </label>

   <select name="select operation" id="select operation" aria-labelledby="select operation" aria-controls="price-display">
      <option value="add">add</option>
      <option value="sub">sub</option>
      <option value="mul">mul</option>
      <option value="div">div</option>
    </select>
  </div>
</div>
